.App {
  text-align: center;
  background-color: wheat;
  padding: 0 2rem;
}

.navbar{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #B38A0B !important;
  display: flex;
  align-items: center;
  padding: .75rem 1rem;
}

.navbar-brand{
  display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      color: white;
}

.navbarPicture {
  max-width: 2.5rem;
  padding-right: 0.5rem;
}

.list-items{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  margin: auto;
}

a{
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

li>a{
  color: hsla(46, 5%, 97%,.8);
  padding: .5rem;
}

.page{
  padding-top: 50px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print),
(prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

@-webkit-keyframes backInRight {
  0% {
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 0.7;
  }

  100% {
    /* -webkit-transform: scale(1);
    transform: scale(1); */
    opacity: 1;
  }
}
@keyframes backInRight {
  0% {
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 0.7;
  }

  100% {
    /* -webkit-transform: scale(1);
    transform: scale(1); */
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  /*Mobile only settings*/
  #home, #profilePage, #search{
    -webkit-animation-name: backInRight;
    animation-name: backInRight;
  }
}

@media (min-width: 480px) {
  /*Webpage only settings*/
  #home, #profilePage, #search{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
}
