.recipeContainer{

}

.ratingsContainer{
  display: inline-flex;
  margin: 0.5rem 0;
}

.ingredientContainer{

}

.instructionContainer{}

  @media (min-width: 480px) {
    /*Webpage views*/
    .instructionContainer{
      margin: 0 8rem;
    }
  }

  @media (max-width: 480px) {
    /*Mobile views*/

  }
